.dashboard__section1__content, .dashboard__section2__content{
    height: 300px;
    }
.dashboard__section3{
    padding: 0 30px;
}

.dashboard__section1__content,
.dashboard__section2__content,
.dashboard__section3__content{
    padding: 20px;
    border-radius: 15px;
}
.dashboard__section1__content{
    background-color: #0F1322;
}
.dashboard__section2__content{
    background-color: #95CFD9;
}
.dashboard__section3__content{
    background-color: #DABDA9;
}
.section__1__title{
    color: white;
}
.performance__text{
    font-size: small;
    color: #777B8A;
}
.perfomance__list{
    display: flex;
    justify-content: space-around;
}
.checklist__single{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px 0;
}

.checklist__text__1,
.checklist__text__2{
    font-size: small;
    color: white;
}
.checklist__text__1{
    font-weight: bold;
}
.dashboard__lower__section{
    margin-top: 10px;
}
.dashboard__upper__section{
}
.dashboard__section3__content{
    height: 100%;
}
.section3__title{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.section3__description{
    font-size: 13px;
}
.section3__card{
   padding: 10px;
}
.section3__card__content{
    background-color: white;
    /* margin: 0 10px; */
    padding: 10px 10px 10px 30px;
    border-radius: 20px;
    text-align: left;
    position: relative;
}
.card__icon{
    position: absolute;
    top: -15%;
    left: 15%;
    color: white;
    padding: 5px 10px;
    background-color: #FD4C24;
    border-radius: 12px;
}
.card__title{
    font-size: 13px;
    font-weight: 700;
    margin: 20px 0 10px 0;
}
.card__number{
    font-size: 21px;
    font-weight: 600;
}