.home{
    display: flex;
    height: 100vh;
    padding: 20px;
    background-color: #0F1322;
}
.sidebar{
    background-color: white;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    /* border-radius: 30px 0 0 30px; */
    height: 100%;
}
.tab__content{
    width: 80%;
    background-color: white;
    /* border-radius: 0 30px 30px 0; */
    height: 100%;

}
.tab__content__inside{
    background-color: #F3F1EF;
    /* border-radius: 30px; */
    height: 100%;
    padding: 10px 40px;
}
.user__name{
    font-size: 14px;
    font-weight: 700;
    margin: 7px 0;
}
.user__title{
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
}

.dashboard__tab{
    display: flex;
    gap: 20px;
    padding: 10px 30px;
    margin: 7px 0;
    cursor: pointer;
    /* border-radius: 12px; */
}
.dashboard__tab__active{
    background-color: #dab085aa;
}
.dashboard__tab__icon{
    color: #0A033A;
}
.dashboard__tab__title{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #56575B;
}
.logout{
    color: gray;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logout:hover{
    cursor: pointer;
    color: blue;
}
.students{
    height: 100%;
}
.students__inside{
    height: 75%;
    overflow: auto;
}
.table__list{
    background-color: white;
    font-size: small;
    border: 1px solid rgba(0, 0, 0, 0.409);
}


/* pagination styles */
.blog__paginations{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.prev__button__pagi{
    background-color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 46px;
    height: 32px;
    padding: 6px 10px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin: 0.5px;
    cursor: pointer;
    border: none;

}
.page__count__button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 10px;
    width: 30px;
    height: 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin: 0.5px;
    cursor: pointer;

}
.active__page__count__button{
    background: #687D96;
    color: white;
    cursor: pointer;

}
.inactive__page__count__button{
    background: white;
    color: black;
    cursor: pointer;

}
.page__others__buttons{
    padding: 6px 10px;
    gap: 10px;
    width: 30px;
    height: 32px;
    background: #FFFFFF;
    font-size: 12px;
    line-height: 20px;
    color: #172A41;
    margin: 0.5px;
    cursor: pointer;


}
.next__button__pagi{
    align-items: center;
    padding: 6px 10px;
    gap: 10px;
    width: 47px;
    height: 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #FFFFFF;
    margin: 0.5px;
    cursor: pointer;
    border: none;

}
.action__buttons{
    display: flex;
    justify-content: space-between;
}
.learning__form__group, .submission__intructions{
    margin-bottom:5px;
  }
  .new__feature__request__form{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
  }
  .loader{
    /* background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; */
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .loader__content{
    margin-top: 20%;
  }
  .button__size{
    height: 22px;
    font-size: smaller;
  }
  .selecting__divs{
    font-size: small;
    margin-bottom: 20px;
  }
  .adding__course__div{
    font-size: smaller;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
  }
  .add__button__size{
    font-size: 10px;
  }
  .see__details__link{
    color: blue;
    cursor: pointer;
  }
  .my-modal .modal-content {
    background-color: red;
  }
  .payment__date{
    display: flex;
    flex-direction: column;
  }
  .payment__paid{
    color:green;
    border:1px solid green;
  }
  .payment__not__paid{
    border: 1px solid red;
    color:red;
  }
  .payment__paide{
    color:green;
  }
  .payment__not__paide{
    color:red;
  }
  .searching__component{
    border-radius: 8px;
    /* height: 50px; */
  }
  .filters__div{
    display: flex;
    overflow: auto;
  }
  .filter__div__single{
    margin-right: 30px;
  }
  .filter__div{
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .filter__button{
      border: 1px solid black;
      background-color: white;
  }
  .insidekey{
    margin-right: 15px;
  }
  .customFilter__tabs{
    display: flex;
    gap: 10px;
    /* justify-content: space-evenly; */
    /* border: 1px solid black; */
    /* background-color: white; */
  }
  .individualcustomFilter__tab{
    /* border-right: 1px solid black; */
    padding: 10px;
    cursor: pointer;
  }
  .selected_customFilter__tab{
    background-color: white;
    font-weight: 800;
  }
  .input__div{
    width: 150px;
  }
  .permissions__div{
    display: flex;
  }
  .individualPermission{
    margin-right: 10px;
  }
  .outer__table__tr{
    /* font-size: 50px; */
    background-color:#1ecbe1;
    border-bottom: 2px solid blue;
    font-weight: bold;
  }
  .inner__table__list{
    background-color: #3A10E5;
    color: white;
    font-weight: 500;
  }
  .shift__div{
    /* background-color: #3A10E5; */
    color: #3A10E5;
    margin-right:5px;
  }
  .amount__collected__div{
    display: flex;
    background-color: #3A10E5;
    color: white;
    margin-bottom: 5px;
    padding: 5px;
    justify-content: space-between;
    width: 300px;
  }
  .final__amounts__table{
    background-color: #3A10E5;
    color: white;
    font-weight: 400;
  }
  .payments__table__list{
    background-color:#1ecbe1;
    border-bottom: 2px solid blue;
    font-weight: bold;
  }